{% extends 'base.html' %} 
{% load static %} 

{% block content %} 

<div class=" container blog-wrapper">
    <h3>Blog</h3>
    <h4>Learn more about why sustainable toys are important and which materials to look for, or avoid!</h4>
    {% if search_term %}<h3>You searched for '{{ search_term }}'. {{blogposts|length}} blog posts found:</h3>{% endif %}

    <form class="d-flex text-right" method="GET" action="{% url 'toys' %}">

        <input class="form-control me-2 nav-search-input mt-1 d-none d-sm-block" type="text" name="query"
          placeholder="Search our site" aria-label="Search">
        <button class="btn d-none d-sm-block" type="submit"> <span class="icon nav-icon"><i
              class="fas fa-search"></i></span></button>
      </form>

    <div class="row align-items-center">
        <div class="col-12 col-lg-2">
            <img src="{{ MEDIA_URL }}bulb.png" class="blog-img" alt="Lightbulb with small plants growing inside it. The bulb's base is a reed basket">
        </div>
        <div class="col-12 col-lg-10">
            {% for blogpost in blogposts %}
            <div class="blog-card p-2">
               
                <h5>{{ blogpost.title }}</h5>
               <p>{{ blogpost.content }}</p>
             <a class="submit-btn" href="{% url 'blog_details' blogpost.id %}">Read and comment blogpost</a>

             {% if request.user.is_superuser %}
<br>
<span class="edit-blogpost-link mt-2 bg-white text-left"><a class="bg-white text-secondary" href="">Edit</a></span>
<span class="delete-blogpost-link mt-2 text-right"><a class="bg-white text-secondary" href="">Delete</a></span>
{% endif %}
            </div>
            
            {% endfor %} 
        </div>

    </div>

</div>



{% endblock %} 