{% extends 'base.html' %} 
{% load static %} 

{% block content %} 

<div class=" container blog-wrapper">
    <h3>Blog</h3>
    <h4>Learn more about why sustainable toys are important and which materials to look for, or avoid!</h4>

    <div class="row align-items-center">
        <div class="col-12 col-lg-2">
            <img src="{{ MEDIA_URL }}bulb.png" class="blog-img" alt="Lightbulb with small plants growing inside it. The bulb's base is a reed basket">
        </div>
        <div class="col-12 col-lg-10">
            {% for blogpost in blogposts %}
            <div class="card">
               
                <h5>{{ blogpost.title }}</h5>
               <p>{{ blogpost.content }}</p>
             <a href="{% url 'blog_details' blogpost.id %}">Read and comment blogpost</a>

             {% if request.user.is_superuser %}
<br>
<span class="edit-toy-link mt-2 bg-white"><a class="bg-white text-secondary" href="{% url 'edit_toy' toy.id %}">Edit</a></span>
<span class="delete-toy-link mt-2 "><a class="bg-white text-secondary" href="{% url 'confirm_delete_toy' toy.id %}">Delete</a></span>
{% endif %}
            </div>
            
            {% endfor %} 
        </div>

    </div>

</div>



{% endblock %} 