{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container-fluid bag-container py-3">

    <h3 class="mb-3">Shopping bag</h3>

    <div class="row align-items-center">
        <div class="col-12 col-lg-4 my-5">
            <img class="bag-page-img" src="{{ MEDIA_URL }}dino.png"
                alt="Three building blocks in bright color and with letters A-C on them in the background. In the foreground a light indogo baby dinosaur smiling with eyes closed.">
        </div>
        <div class="col-12 col-lg-8 my-5">
            <h4 class="mb-5">Your bag:</h4>
            {% if bag_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col ">Price</th>
                        <th scope="col ">Quantity</th>

                        <th scope="col">Total</th>
                    </tr>
                </thead>

                {% for item in bag_items %}
                <tr>
                    <td>
                        {% if item.toy.image %}
                        <img src="{{ item.toy.image }}" alt="{{ item.toy.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ item.toy.name }}">
                        {% endif %}
                    </td>
                    <td>
                        <p>{{item.toy.name }}</p>
                    </td>
                    <td>
                        <p>á € {{item.toy.price }}</p>
                    </td>
                    <td>
                        <p>{{item.quantity}}</p>
                    </td>
                    <td>
                        <p> € {{item.toy.price | calc_subtotal:item.quantity }} </p>
                    </td>



                </tr>


                <tr>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td>

                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn mt-1"
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span class="mt-2">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="{{ item.quantity }}" min="1" max="5" data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn mt-1"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <a class="update-link text-info"><small>Update</small></a>
                        <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a></td>
                     
         
       

                </tr>
                <tr>
                    {% endfor %}
                    <td>Shipping cost</td>
                    <td></td>
                    {% if order_total < free_delivery_delta %} <td> € {{ delivery}}</td>
                        {% else %}
                        <td><strong> € {{ delivery}} </strong>  <p><i>Get free delivery by spending </p><p>€ {{ free_delivery_delta}}
                            more!</i></p></td>
                        {% endif %}
                </tr>
                <tr>
                    <td><strong>Total cost</strong></td>
                    <td></td>
                    <td><strong> € {{ grand_total }} </strong> </td>
                </tr>


            </table>
            <div class="row  mt-5 align-items-center justify-content-end">
                <div class="col-8 mt-5 text-right">
                    <a href="{ % url 'toys' %} "><span class="icon"><i class="fas fa-arrow-left"></i> </span> Continue
                        shopping</a>

                    <a class="btn submit-btn rounded-pill" href="{% url 'checkout' %} "> Checkout</a>

                    {% else %}
                    <p class="my-5">No items in your bag yet.</p>
                    <a class="btn submit-btn rounded-pill" href="{% url 'toys' %"> Go shopping!</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    {% include 'toys/includes/quantity_input_script.html' %}

    <script type="text/javascript">

        // Code from Boutique Ado walkthrough project: 
        //https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/f5880efee43b3b9ea1276a09ca972f4588001c59/bag/templates/bag/bag.html 

        //Updating quantity when clicked 

    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    </script>

    {% endblock %}