{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %}

{% block content %}
<div class="container-fluid bag-container py-3">

    <h3 class="mb-3">Shopping bag</h3>

    <div class="row align-items-center">
        <div class="col-12 col-lg-6 my-5">
            <img class="bag-page-img" src="/media/dino.png" alt="Three building blocks in bright color and with letters A-C on them in the background. In the foreground a light indogo baby dinosaur smiling with eyes closed.">
        </div>
        <div class="col-12 col-lg-6 my-5">
            <h4 class="mb-5">Your bag:</h4>
            {% if bag_items %}
            <table class="table">
<thead>
    <tr>
        <th scope="col"></th>
    <th scope="col">Product</th>
    <th scope="col ">Price</th>
    <th scope="col ">Quantity</th>

    <th scope="col">Total</th>
</tr>
</thead>

{% for item in bag_items %} 
<tr>
    <td>
        {% if item.toy.image %}
        <img src="{{ item.toy.image }}" alt="{{ item.toy.name }}">
        {% else %} 
        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ item.toy.name }}">
        {% endif %} 
    </td>
    <td>
        <p>{{item.toy.name }}</p>
    </td>
    <td>
        <p>á  €  {{item.toy.price }}</p>
    </td>
    <td>
        <p>{{item.quantity}}</p>
    </td>
  
    <td>
        <p> € {{item.toy.price | calc_subtotal:item.quantity }} </p>
    </td>
</tr>
<tr>
    <td>Shipping cost</td>
    <td></td>
    <td> € {{ delivery}}</td>
</tr>
<tr>
    <td><strong>Total cost</strong></td>
    <td></td>
    <td><strong> € {{ grand_total }} </strong> </td>
</tr>
        {% endfor %}

            </table>
            <div class="row justify-content-end mt-5 align-items-center">
                <div class="col-3">
            <p><a class="mx3" href="{ % url 'toys' %} ">Continue shopping</a></p>
        </div>
        <div class="col-2">
            <a class="btn submit-btn" href="{% url 'checkout' %} ">Checkout</a>
        </div>
        </div>
            {% else %} 
            <p class="my-5">No items in your bag yet.</p>
            <a class="btn submit-btn rounded-pill" href="{% url 'products' %"> Go shopping!</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}