{% extends 'base.html' %} 
{% load static %} 

{% block content %} 

<div class="container form-container-wrapper bg-leaves">

    <h3>Edit Toy</h3>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5 mt-5 text-center">
       
            <!-- Form for editing details about a toy in the db-->
            <form action="{% url 'edit_toy' toy.id %}" method="POST" enctype="multipart/form-data" class="site-form">
                  {% csrf_token %}

                {% for field in form %}
                    {% if field.name != 'image' %} 
                {{ field | as_crispy_field }}
                    {% else %} 
                    {{ field }} 
                    {% endif %} 
                {% endfor %} 

                  <a href="{% url 'toys' %}" class="mx-3 my-5">Cancel</a> 
                  <button class="primaryAction rounded-pill submit-btn px-3 py-1 my-5 mx-2" type="submit">Update toy </button>
                  
                </form>

        
        </div>
    </div>

</div>

{% endblock %}

{% block postloadjs %} 
{{ block.super }} 
<script type="text/javascript">
$('#new-image').change(function() {
    var file = $('#new-image')[0].files[0];
    $('#filename').text(`Image will be set to ${file.name}`);
});
    </script>
{% endblock %}