{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container-fluid toy-details-container">


    <div class="row align-items-center mt-5">
        <div class="col-12 col-lg-4">
            <div class="details-img-container py-5 mx-5 my-5">
                {% if toy.image != 'None' %} <img src="{{ toy.image }}" alt="{{ toy.name }}"> 
                {% else %}
                <img src="/media/no-image.png"
                alt="Light-brown image of drawn silhouette of mountain and tree with text 'no image found' below"> 
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4 my-5">
            <h4>{{ toy.name }}</h4>

            <p>{% if toy.rating %} Rating {{toy.rating }} / 5 {% else %} No rating {% endif %}</p>
            <p>{% if toy.description %} {{ toy.description }} {% else %} This toy has no description yet. {% endif %}
            </p>

            <p>{% if toy.campaign %} {{toy.campaign.price}} {% else %} € {{toy.price }} {%endif %}</p>
            <div class="container align-items-center mt-5">
                <form method="POST" action="{% url 'add_to_bag' toy.id %}">
                    {% csrf_token %}
                    <p>Quantity:</p>
                    <div class="form-group py-1 my-3 mx-auto mr-lg-2">
                        <div class="input-group w-50 mx-auto mx-lg-0">
                            <div class="input-group-prepend">

                                <button class="decrement-qty btn" data-item-id="{{ toy.id }}"
                                    id="decrement-qty_{{toy.id}}"><span class="icon"><i
                                            class="fas fa-minus"></i></span></button>
                            </div>
                            <input type="number" name="quantity" value="1" min="1" max="5"
                                class="form-control qty-input" data-item-id="{{ toy.id }}" id="id_qty_{{toy.id}}">
                            <div class="input-group-append">
                                <button class="increment-qty btn" data-item-id="{{ toy.id }}"
                                    id="increment-qty_{{toy.id}}"><span class="icon"><i
                                            class="fas fa-plus"></i></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="my-5">
                    <img class="add-to-cart-icon mr-3" src="/media/add-to-cart-icon.png" alt="Green shopping cart" />
                    <input type="submit" class="rounded-pill mx-2 submit-btn py-1 px-3" value="Add to bag">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
                </form>
            </div>




        </div>
        <div class="col-12 col-lg-4 ">
            <img class="toy-details-bgimg mt-5" src="/media/happy-child.png"
                alt="Happy child in green and dotted clothes and brown pigtails, stretching arms and legs out like a star">
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %} 
{{ block.super }}
{% include 'toys/includes/quantity_input_script.html' %}
{% endblock %}
