{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container-fluid all-toys-wrapper">
  <h3>Our Toys</h3>
  {% if request.user.is_superuser %}
  <a class="add-toy-link" href=""><span><i class="fas fa-plus"></i> Add Toy</span></a>
  {% endif %}
  <div class="container-fluid mt-5">
    <div class="toys-select-container">
       <select id="category-selector" class="category-selector">
        <option value="reset" {% if category == 'None_None' %} selected {% endif %}>All Categories</option>

        <option value="Wooden_Toys" {% if categories == 'wooden_toys' %} selected {% endif %}>Wooden Toys</option>
        <option value="Rubber_Toys" {% if categories == 'rubber_toys' %} selected {% endif %}>Rubber Toys</option>


      </select>

       <select id="sort-selector" class="sort-selector">
        <option value="reset" {% if current_sorting == 'None_None' %} selected {% endif %}>Sort by...</option>

        <option value="price_asc" {% if current_sorting == 'price_asc' %} selected {% endif %}>Price (low to high)
        </option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %} selected {% endif %}>Price (high to low)
        </option>
        <option value="rating_asc" {% if current_sorting == 'rating_asc' %} selected {% endif %}>Rating (low to high)
        </option>
        <option value="rating_desc" {% if current_sorting == 'rating_desc' %} selected {% endif %}>Rating(high to low)
        </option>

      </select>

           

        
    </div>
    <div class="container">
      {% if search_term %}<h3>You searched for '{{ search_term }}'. {{toys|length}} toys found:</h3>{% endif %}

      <div class="row ">
        {% for toy in toys %}
        <div class="col-12 col-md-6 col-xl-4 xxl-3 mt-5">

          <div class="toy-card card" style="width: 20rem;">
            {% if toy.image %} <img src="" alt="">
            {% else %}
            <img src="/media/no-image.png"
                alt="Light-brown image of drawn silhouette of mountain and tree with text 'no image found' below">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ toy.name }}</h5>
            
              <p class="card-text">  {% if toy.rating %} Rating {{ toy.rating }}/ 5 {% else %} No Rating {% endif %} </p>

              <p class="card-text "> {% if toy.campaign %} € {{campaign.price }}  {% else %}  € {{toy.price }}  {%endif %}</p>
              <a href="{% url 'toy_details' toy.id%}" class="btn rounded-pill text-white my-2">Read more</a>
              {% if request.user.is_superuser %}
              <br>
              <span class="edit-toy-link mt-2 bg-white"><a class="bg-white text-secondary" href="{% url 'edit_toy' toy.id %}">Edit</a></span>
              <span class="delete-toy-link mt-2 "><a class="bg-white text-secondary" href="{% url 'delete_toy' toy.id %}">Delete</a></span>
              {% endif %}
            </div>

          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block postloadjs %}



<script>

/* Code adapted from Boutique Ado walkthrough project:
https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/f5880efee43b3b9ea1276a09ca972f4588001c59/products/templates/products/products.html
*/

  $('#sort-selector').change(function () {
    let selector = $(this);
    let currentUrl = new URL(window.location);

    let selectedVal = selector.val();
    if (selectedVal != 'reset') {
      let sort = selectedVal.split('_')[0];
      let direction = selectedVal.split('_')[1];

      currentUrl.searchParams.set('sort', sort);
      currentUrl.searchParams.set('direction', direction)

      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete('sort');
      currentUrl.searchParams.delete('direction');

      window.location.replace(currentUrl);
    }
  })

  $('#category-selector').change(function () {
    let selector = $(this);
    let currentUrl = new URL(window.location);

    let selectedVal = selector.val();
    let category = selectedVal.replace('_', ' ');
    console.log(category);
    if (selectedVal != 'reset') {
      currentUrl.searchParams.set('category', category);

      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete('category');

      window.location.replace(currentUrl);
    }
  })
</script>

{% endblock %}