{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<div class="container-fluid bg-leaves page-wrapper">
    <h3>My Profile</h3>
    <div class="row mt-5 justify-content-center">
       <div class="col-12 col-lg-5 justify-content-center px-lg-5">
          <h4> <strong>Personal info</strong></h4>
          <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="site-form ">
             {% csrf_token %} 
             {{ form | crispy }}
             <button class="btn submit-btn rounded-pill">Update information</button>
          </form>
       </div>
       <div class="col-12 col-lg-5 justify-content-center pt-3 pt-lg-0 px-lg-5">
          <h4 class="mb-3"><strong>Order history</strong></h4>
          {% if orders %}
          <table class="table table-sm table-borderless site-form">
             <thead>
                <tr>
                   <th class="py-3">Order Number</th>
                   <th>Date</th>
                   <th>Items</th>
                   <th>Order Total</th>
                </tr>
             </thead>
             <tbody>
                {% for order in orders %}
                <tr>
                   <td>
                      <a href="{% url 'order_history' order.order_number %}"
                         title="{{ order.order_number }}">
                      {{ order.order_number|truncatechars:6 }}
                      </a>
                   </td>
                   <td>{{ order.date }}</td>
                   <td>
                      <ul class="list-unstyled">
                         {% for item in order.lineitems.all %}
                         <li class="small">
                            {{ item.product.name }} x{{ item.quantity }}
                         </li>
                         {% endfor %}
                      </ul>
                   </td>
                   <td>${{ order.grand_total }}</td>
                </tr>
                {% endfor %}
             </tbody>
          </table>
          {% else %}
          <p class="site-form">You don't have any order history yet.</p>
          <a href="{% url 'toys' %}" class="btn submit-btn rounded-pill">Go shopping!</a>
          {% endif %}
       </div>
    </div>
 </div>

{% endblock %}