{% extends 'base.html'%}
{% load static %}
{% load bag_tools %}

{% block content %}

<div class="container-fluid bag-container">

    <h3 class="mb-3">Checkout</h3>

    <div class="row">
        <div class="col-12 col-lg-6 my-5 px-lg-5">
            <h4 class="mb-5">Order summary:</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col ">Price</th>
                        <th scope="col ">Quantity</th>

                        <th scope="col">Total</th>
                    </tr>
                </thead>

                {% for item in bag_items %}
                <tr>
                    <td>
                   
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ item.toy.name }}">
                   
                    </td>
                    <td>
                        <p>{{item.toy.name }}</p>
                    </td>
                    <td>
                        <p>á € {{item.toy.price }}</p>
                    </td>
                    <td>
                        <p>{{item.quantity}}</p>
                    </td>

                    <td>
                        <p> € {{item.toy.price | calc_subtotal:item.quantity }} </p>
                    </td>
                </tr>
                <tr>
                    {% endfor %}
                    <td>Shipping cost</td>
                    <td></td>
                    <td></td>
                    <td></td>

                    {% if order_total < free_delivery_delta %} <td> € {{ delivery}}</td>
                        {% else %}
                        <td>€ {{ delivery}} <p class="mt-3">Get free delivery by spending € {{ free_delivery_delta }}
                                more!</p>
                        </td>

                        {% endif %}
                </tr>
                <tr>
                    <td><strong>Total cost</strong></td>
                    <td></td>
                    <td><strong> € {{ grand_total }} </strong> </td>
                </tr>


            </table>
            <div class="row">

                <h4 class="mt-5"><a class="mx3" href="{ % url 'view_bag' %} "><span class="icon"><i
                                class="fas fa-arrow-left"></i></span> Back to shopping bag</a></h4>


            </div>
        </div>
        <div class="col-12 col-lg-6 my-5 px-lg-5">
            <h4 class="mb-5">Please fill out your info here to complete the order:</h4>
            <div class="text-left w-75 mx-auto">

                <form action="{% url 'checkout' % }" method="POST" id="payment-form" class="site-form">

                    {% csrf_token %}
                    <fieldset>

                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}

                    </fieldset>
                    <div class="form-check">
                        {% if user.is_authenticated %}
                        <label for="save-user-info" class="form-check-label">Save this info to my user profile</label>
                        <input type="checkbox" class="form-check-input ml-3 mt-2" id="save-user-info" name="save-info"
                            checked>
                        {% else %}
                        <label for="save-user-info" class="form-check-label">
                            <p><a href="{% url 'account_signup' %}">Sign up</a></p>
                            <p>
                                <a href="{% url 'account_login' %}">or Login </a>to save info to user profile
                            </p>
                            {% endif %}
                        </label>
                    </div>


                    <fieldset class="my-3 py-3">
                        <legend class="fieldset-label">Payment</legend>
                        <!-- Card element injected here by Stripe js-->
                        <div class="card mb-3 stripe-card" id="card-element"></div>

                        <!-- Displaying form errors -->
                        <div class="text-danger" id="card-errors" role="alert"></div>

                        <!-- Passing the client secret key to the view in order to get the payment intent id-->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <button type="submit" class="btn submit-btn rounded-pill" id="checkout-button">Pay and complete
                        order
                        <div class="spinner hidden" id="spinner"></div>
                    </button>
                    <p><span class="icon ml-2"><i class="fas fa-lock"></i></span> Secure checkout</p>

                    <p class="charge-info"><strong><span class="icon"><i class="fas fa-exclamation"> </i></span> Your
                            card will be charged € {{ grand_total }}</strong></p>

                </form>
            </div>



        </div>

    </div>
</div>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner d-flex align-items-center justify-content-center m-0 h-100">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>


{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}