{% extends 'base.html' %} 
{% load static %} 

{% block content %} 

<div class="container page-wrapper">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h4>Something went wrong....</h4>
            <p>The page you are looking for could not be found. (Error code 404)</p>
            <a class="submit-btn rounded-pill" href="{% url 'home' %}">Back to home page</a>
        </div>
        <div class="col-12 col-lg-4">
            <img src="/media/lost.png" alt="Drawn image of green boy looking confused, with question marks around him">
        </div>
    </div>
</div>

{% endblock %}