<!-- Navbar template with bootstrap navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">

      <!-- Navbar toggler and collapse for responsive nav on smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbar">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'toys' %}">All Toys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>

        <!-- Nav links showing only if user is logged in -->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}

        <!-- Nav links showing only if user is logged in with superuser credentials -->
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_toy' %}">Add Toy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_blogpost' %}">Add Blog Post</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>

      </ul>

            <!-- Search field for searching for toys on the site -->
      <form class="d-flex" method="GET" action="{% url 'toys' %}">

        <input class="form-control nav-search-input" type="text" name="query" value="Search for toys"
          aria-label="Search">
        <button class="btn" type="submit" value="search"> <span class="icon nav-icon"><i
              class="fas fa-search"></i></span></button>
      </form>
    </div>

          <!-- Showing the total cost of items in the users shopping bag including shipping cost,
         if the user has any items in their bag. Otherwosw showing 0 -->
         <div class="ms-3">
          <span>{% if bag_items %}
           € {{grand_total|floatformat:2}}
           {% else %}
           € 0.00
   
           {% endif %}
          </span>
   
   
         <!-- Link to shopping bag -->
         <span class="mb-2">
           <a href="{% url 'view_bag' %}"><img class="shopping-cart" src="{{ MEDIA_URL }}cart-icon.png"
               alt="Green shopping cart"></a>
         </span>
       </div>



   
  </div>

</nav>