<nav class="navbar navbar-expand-lg navbar-light bg-light mw-100">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'toys' %}">All Toys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campaign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_toy' %}">Add Toy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_blogpost' %}">Add Blog Post</a>
        </li>
        {% endif %}

      </ul>

    </div>




    <form class="d-flex" method="GET" action="{% url 'toys' %}">

      <input class="form-control me-2 nav-search-input mt-1 d-none d-sm-block" type="text" name="query"
        placeholder="Search our site" aria-label="Search">
      <button class="btn d-none d-sm-block" type="submit"> <span class="icon nav-icon"><i
            class="fas fa-search"></i></span></button>
    </form>

    <a class="navbar-toggler search-toggler mx-auto d-sm-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="icon nav-icon"><i class="fas fa-search"></i></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <form class="" action="">
        <input class="form-control me-2 nav-search-input mt-1 d-sm-none" type="search" placeholder="Search site"
          aria-label="Search">
      </form>
    </div>

    <p class="mt-2">{% if grand_total %}
          € {{grand_total|floatformat:2}}     
      {% else %}
          € 0.00
          
      {% endif %}
    </p>
    <span class="mb-2">
    <a href="{% url 'view_bag' %}"><img class="shopping-cart" src="{{ MEDIA_URL }}cart-icon.png" alt="Green shopping cart"></a>
  </span>
  </div>



</nav>