{% extends 'base.html' %} 
{% load static %} 

{% block content %} 

<div class="container page-wrapper bg-leaves">
    <h3>Add Blogpost</h3>
    <div class="row justify-content-center">
       <div class="col-12 col-lg-6 col-xl-5 mt-5">
          <!-- Form for adding a blogpost to the db -->
          <form action="{% url 'add_blogpost' %}" method="POST" enctype="multipart/form-data" class="site-form">
             {% csrf_token %}
             {% for field in form %}
             {% if field.name != 'image' %} 
             {{ field | as_crispy_field }}
             {% else %} 
             {{ field }} 
             {% endif %} 
             {% endfor %} 
             <a href="{% url 'blog' %">Cancel</a> 
             <button class="primaryAction rounded-pill submit-btn px-3 py-1 my-2" type="submit">Add blogpost </button>
          </form>
       </div>
    </div>
 </div>

{% endblock %}