{% extends "base.html" %}

{% load static %}

{% load i18n %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="container page-wrapper">

  <h3>{% trans "Login" %}</h3>
  <p class="my-5 mx-5">Login to see your previous orders, update your personal account details or comment on blog posts!</p>

<div class="row align-items-center mt-5 mx-auto justify-content-center">
<div class="col-12 col-md-8 col-lg-4">
  <form class="login my-5 text-left site-form" method="POST" action="{% url 'account_login' %}">
    <h4 class="text-center">Login here:</h4>
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <p>* = Required field</p>
  <button class="primaryAction rounded-pill submit-btn px-3 py-1 my-2" type="submit">{% trans "Sign In" %}</button>
  
</form>
<p>
<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %} Click here</a> to have it sent to your email.</p>
<p>{% blocktrans %}Don't have an account yet?
  <a href="{{ signup_url }}">Sign up here.</a>{% endblocktrans %}</p>
</div>
<div class="d-none d-lg-block col-lg-3">
  <img src="{{ MEDIA_URL }}twig.png" alt="">
</div>
</div>
</div>
{% endblock %}