{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container account-container">

  <h3>{% trans "Sign Out" %}</h3>



<div class="row mt-5 justify-content-center">
<div class="col-12 col-lg-4 mt-5">
  <form class="login site-form" method="POST" action="{% url 'account_logout' %}">
   
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="mb-3">{% trans 'Are you sure you want to sign out?' %}</p>
 
  <button class="primaryAction rounded-pill submit-btn px-3 py-1 my-3" type="submit">{% trans "Sign Out" %}</button>
  <p><a href="{% url 'home' %}">Cancel</a></p>
  
</form>

</div>
<div class="col-12 col-lg-6">
  <img src="{{ MEDIA_URL }}twig.png" alt="">
</div>
</div>
</div>
{% endblock %}