{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container page-wrapper">
    <h3 class="mb-3">{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-6">

    <p class="my-5">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset site-form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="rounded-pill submit-btn px-3 py-1 my-5"/>
    </form>

    <p class="mt-5">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
<div class="d-none d-lg-block col-lg-6">
    <img src="/media/twig.png" alt="">
  </div>
</div>
</div>
{% endblock %}
