{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}
{% crispy SignUpForm %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="container account-container">

  <h3>{% trans "Sign Up" %}</h3>
  <p class="my-5 mx-5">Create your personal account to be able to save your shipping details for faster ordering, see previous orders and comment on blog posts!</p>

<div class="row align-items-center mt-5 mx-auto">
<div class="col-12 col-lg-6">
  <h4 class="mb-2">Sign up here:</h4>
<form class="signup mx-3 text-left" id="signup_form" method="post" action="{% url 'account_signup' %}">

  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>* = Required field</p>
  <button type="submit" class="rounded-pill submit-btn px-3 py-1 my-2">{% trans "Sign Up" %} &raquo;</button>
  <p class="mt-3">{% blocktrans %}Already have an account? Sign in <a href="{{ login_url }}">here</a>.{% endblocktrans %}</p>
</form>
</div>
<div class="d-none d-lg-block col-lg-6">
  <img src="/media/twig.png" alt="">
</div>
</div>
</div>
{% endblock %}
