{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container-fluid page-wrapper">
    <h3>{% trans "Verify Your E-mail Address" %}</h3>

    <h4 class="mt-5">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h4>
</div>
{% endblock %}
