<!-- Code from Boutique Ado walkthrough project: 
    https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/f5880efee43b3b9ea1276a09ca972f4588001c59/products/templates/products/custom_widget_templates/custom_clearable_file_input.html-->


<!-- Code for handling image field with checkbox on toy form -->    

{% if widget.is_initial %} 
<p>{{widget.initial_text}}:</p>
<a href="{{ widget.value.url}}">
    <img src="{{ widget.value.url }}" alt="Toy img" width="84" height="84">
</a>

{% if not widget.required %} 
<div>
    <input type="checkbox" name="{{widget.checkbox_name}}" id="{{widget.checkbox_id}}">
    <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %} 

{{ widget.input_text }}

{% endif %} 

<span>
    Upload Image <input class="btn" type="{{widget.type}}" id="new-image" name ="{{ widget.name }}" {% include 'django/forms/widgets/attrs.html' %}>
</span>
<p id="filename"></p>