{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="This site offers a webshop providing environmentally friendly childrens's toys made from wood or rubber and free from all harmful substances. 
The site also contains a blog about common materials that children's toys are made fromn and how they impact the environment, guiding parents and others to more healthy choices when buying 
toys for their children" />

    {% endblock %}



    {% block corecss %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300&display=swap"
        rel="stylesheet">
    <!-- Custome CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}


    <title>Green Toys</title>
</head>

<body>

    <!-- Including the navbar in template -->
    <div class="container-fluid fixed-top px-0">

        {% include 'includes/nav.html' %}

    </div>


    <!-- Loading a header banner into template -->

    {% block page_header %}
 <!--  <div class="container-fluid header-banner py-3 fixed-top">
        <h2 class="text-uppercase text-white">Free shipping on orders over € {{ free_delivery_threshold }}</h2>

    </div>--> 
    {% endblock %}

    <!-- Including messages in template, if there are any -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Section for main content -->

        {%block content %}



        {% endblock %}



<!-- Core js code -->
    {% block corejs %}
    <!-- Bootstrap, jquery and popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/07bb8fa899.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    
    {% block postloadjs %}



    <!-- Show toasts script -->

    <script type="text/javascript">

        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        });

        toastList.forEach(toast => toast.show());
    </script>

    {% endblock %}

</body>

</html>