{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="container-fluid page-wrapper">
    <h3>Contact us</h3>
    <p>Do you have questions about your order? Suggestions of toys you think we should sell or feedback on how our site is working? Pop us an email, we'll be glad to hear from you!</p>

    <div class="row justify-content-center">
<div class="col-12 col-md-8 col-lg-6 col-xl-4">
<form class="site-form" action="{% url 'contact' %}" method="POST">
    {% csrf_token %}

      {{contact_form|crispy}}

  
 <p>* = Required field</p>
    <div class="col-12">
      <button type="submit" class="btn submit-btn rounded-pill">Send</button>
    </div>
  </form>
</div>
</div>
</div>

{% endblock %}